
<div id="container">
  <div id="content" >
    <div class="ui cards centered four">
      <!--<div class="card">-->
        <!--<div class="content">-->
          <!--<% image_tag('safe.png')%>-->

          <!--<div class="description">-->

            <!--<b>Депозиты.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
            <!--Nulla mi enim, accumsan non molestie vel, tincidunt sit amet augue.-->
            <!--Nulla et malesuada lorem, a rutrum nibh. Etiam et dictum elit.-->
            <!--Etiam aliquam sollicitudin mi, in maximus enim aliquet et.-->
            <!--Mauris malesuada purus vitae tellus rutrum, non malesuada velit facilisis. Aliquam vel lectus luctus dui molestie hendrerit. Aliquam convallis ultricies arcu venenatis venenatis.-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="ui bottom attached button">-->
          <!--<i class="add icon"></i>-->
          <!--Узнать больше-->
        <!--</div>-->
      <!--</div>-->

      <div class="card">
        <div class="content">
          <%= image_tag('credit-card.png')%>

          <div class="description" style="text-align: left;">

            <b>Кредитные линии.</b> 
              Собираетесь купить новую газонокосилку, или поехать отдыхать в Италию? Наши кредитные линии "Простая" и "Путь в Европу"
              помогут вам практически молниеносно получить возможность взять деньги и побежать навстречу мечте! Так чего же вы ждёте?
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <%= image_tag('email.png')%>

          <div class="description" style="text-align: left;">

            <b>Email уведомления.</b> 
              У вас есть записная книжка? Если да, то для хранения истории ваших операций в нашем банке она вам не понадобится!
              Наша совершенная система email уведомлений позволит вам хранить историю ваших операций в вашем электронном ящике.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <%= image_tag('sms.png')%>
          <div class="description" style="text-align: left;">

            <b>SMS уведомления.</b>
              Держите руку на пульсе всех событий, связанных с вашими активами внутри нашего банка, даже если вы находитесь далеко от 
              рабочего компьютера, ведь теперь вы можете получать sms уведомления обо всех операциях, проведённых с ваших электронных кошельков.
              И не волнуйтесь за счёт мобильного оператора - данная функция совершенно бесплатна!
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <%= image_tag('support.png')%>

          <div class="description" style="text-align: left;">

            <b>Техническая поддержка.</b>
              Лучшие сотрудники техподдержки готовы помочь вам разобраться с любым вопросом, который только может у вас возникнуть, начиная
              от курса валют и заканчивая температурой внутри хранилища ваших средств. 24 часа в сутки, 7 дней в неделю.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <%= image_tag('cloud.png')%>

          <div class="description" style="text-align: left;">
            Забудьте об очередях на покупку рождественских и новогодних подарков, ведь теперь вы можете расплачиваться с любыми покупками 
            онлайн всего - лишь оформив счёт в нашем банке.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <%= image_tag('test.png')%>
          <div class="description" style="text-align: left;">

            <b>Онлайн заявка на кредит.</b> Проверьте вашу <u>кредитоспособность</u> онлайн!
            Теперь у вас есть возможность пройти пробный курс кредитования
            без необходимости посещения любого из отделений нашего банка! Это совершенно бесплатная
            имитация составления портрета вашей платёжеспособности.
            Не уверены в вашей кредитоспособности? Пройдите тест, и наша система подскажет, стоит ли вам
            идти в банк за кредитом прямо сейчас, или всё - же лучше подождать некоторое
            время, пока вы полностью не будете готовы пройти процесс кредитования.
          </div>
        </div>


        <%= link_to new_online_credit_path do%>
          <div class="ui bottom attached button">
            <i class="add icon"></i>
            Пройти сейчас
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>




