<div class="ui selection dropdown">
  <input type="hidden" id="<%= name %>_employment_type">
  <i class="dropdown icon"></i>
  <div class="default text">Тип работы заявителя</div>
  <div class="menu">
    <div class="item" data-value="1" onclick="toggleElement('#<%= name %>_another-employment', false);toggleElement('#<%= name %>_practical-employment', false);">Контракт</div>
    <div class="item" data-value="2" onclick="toggleElement('#<%= name %>_another-employment', false);toggleElement('#<%= name %>_practical-employment', false);">Срочный трудовой договор</div>
    <div class="item" data-value="3" onclick="toggleElement('#<%= name %>_another-employment', false);toggleElement('#<%= name %>_practical-employment', false);">Агент на комиссионном договоре</div>
    <div class="item" data-value="4" onclick="toggleElement('#<%= name %>_another-employment', false);toggleElement('#<%= name %>_practical-employment', false);">Пенсионер</div>
    <div class="item" data-value="5" onclick="toggleElement('#<%= name %>_another-employment', false);toggleElement('#<%= name %>_practical-employment', false);">Индивидуальный предприниматель</div>
    <div class="item" data-value="7" onclick="toggleElement('#<%= name %>_another-employment', false);toggleElement('#<%= name %>_practical-employment', false);">Исполнитель по гражданско-правовому договору</div>
    <div class="item" data-value="8" onclick="toggleElement('#<%= name %>_another-employment', false);toggleElement('#<%= name %>_practical-employment', false);">По совместительству</div>
    <div class="item" data-value="9" onclick="toggleElement('#<%= name %>_another-employment', false);toggleElement('#<%= name %>_practical-employment', true);">Частная практика(уточните)</div>
    <div class="item" data-value="10" onclick="toggleElement('#<%= name %>_another-employment', false);toggleElement('#<%= name %>_practical-employment', false);">Безработный</div>
    <div class="item" data-value="11" onclick="toggleElement('#<%= name %>_another-employment', true);toggleElement('#<%= name %>_practical-employment', false);">Другое</div>
  </div>
</div>

<div class="field">
  <input id="<%= name %>_practical-employment" class="invisible" type="text" placeholder="Уточните данные о типе практики">
</div>

<div class="field">
  <input id="<%= name %>_another-employment" class="invisible" type="text" placeholder="Уточните тип занятости">
</div>