<div class="ui selection dropdown">
  <%= f.number_field :"#{name}_employment_type", value: @bank_credit_inputs["#{name}_employment_type"], type: "hidden" %>
  <i class="dropdown icon"></i>
  <div class="default text">*Тип работы заявителя</div>
  <div class="menu">
    <div class="item" data-value="1" onclick="toggleElement('#bank_credit_<%= name %>_another_employment', false);toggleElement('#bank_credit_<%= name %>_practical_employment', false);">Контракт</div>
    <div class="item" data-value="2" onclick="toggleElement('#bank_credit_<%= name %>_another_employment', false);toggleElement('#bank_credit_<%= name %>_practical_employment', false);">Срочный трудовой договор</div>
    <div class="item" data-value="3" onclick="toggleElement('#bank_credit_<%= name %>_another_employment', false);toggleElement('#bank_credit_<%= name %>_practical_employment', false);">Агент на комиссионном договоре</div>
    <div class="item" data-value="4" onclick="toggleElement('#bank_credit_<%= name %>_another_employment', false);toggleElement('#bank_credit_<%= name %>_practical_employment', false);">Пенсионер</div>
    <div class="item" data-value="5" onclick="toggleElement('#bank_credit_<%= name %>_another_employment', false);toggleElement('#bank_credit_<%= name %>_practical_employment', false);">Индивидуальный предприниматель</div>
    <div class="item" data-value="7" onclick="toggleElement('#bank_credit_<%= name %>_another_employment', false);toggleElement('#bank_credit_<%= name %>_practical_employment', false);">Исполнитель по гражданско-правовому договору</div>
    <div class="item" data-value="8" onclick="toggleElement('#bank_credit_<%= name %>_another_employment', false);toggleElement('#bank_credit_<%= name %>_practical_employment', false);">По совместительству</div>
    <div class="item" data-value="9" onclick="toggleElement('#bank_credit_<%= name %>_another_employment', false);toggleElement('#bank_credit_<%= name %>_practical_employment', true);">Частная практика(уточните)</div>
    <div class="item" data-value="10" onclick="toggleElement('#bank_credit_<%= name %>_another_employment', false);toggleElement('#bank_credit_<%= name %>_practical_employment', false);">Безработный</div>
    <div class="item" data-value="11" onclick="toggleElement('#bank_credit_<%= name %>_another_employment', true);toggleElement('#bank_credit_<%= name %>_practical_employment', false);">Другое</div>
  </div>
</div>

<div class="field">
  <%= f.text_field :"#{name}_practical_employment", value: @bank_credit_inputs["#{name}_practical_employment"], class: "invisible", placeholder:"Уточните данные о типе практики"%>
</div>

<div class="field">
  <%= f.text_field :"#{name}_another_employment", value: @bank_credit_inputs["#{name}_another_employment"], class: "invisible", placeholder:"Уточните тип занятости"%>
</div>