<h3>Место работы заявителя</h3>
<%= render partial: "bank_credit/credit_partials/job_info/employment_type", locals: { name: name } %>
<%= render partial: "bank_credit/credit_partials/job_info/contract_date", locals: { name: name }  %>
<%= render partial: "bank_credit/credit_partials/job_info/organization_info", locals: { name: name }  %>
<%= render partial: "bank_credit/credit_partials/job_info/activity_list", locals: { name: name }  %>
<%= render partial: "bank_credit/credit_partials/job_info/organization_employeers", locals: { name: name }  %>
<%= render partial: "bank_credit/credit_partials/job_info/organization_experience", locals: { name: name }  %>

<h3>Количество фактов смены основного места работы за 3 последних года</h3>
<div class="field">
  <input id="<%= name %>_job_changing_value" type="number" placeholder="Количество фактов смены основного места работы за 3 последних года">
</div>

<%= render partial: "bank_credit/credit_partials/job_info/job_category", locals: { name: name }  %>
<%= render partial: "bank_credit/credit_partials/job_info/phones", locals: { name: name }  %>

<br/><br/>
<button type="button" class="ui button orange" onclick="navigate('#step<%= step - 1 %>')">
  Назад
</button>

<button type="button" class="ui button orange" onclick="navigate('#step<%= step + 1 %>')">
  Далее
</button>