<%= render partial: "bank_credit/credit_partials/applicant_info/personal_info" %>
<%= render partial: "bank_credit/credit_partials/applicant_info/family_status" %>
<%= render partial: "bank_credit/credit_partials/applicant_info/living_conditions" %>
<%= render partial: "bank_credit/credit_partials/applicant_info/education" %>
<%= render partial: "bank_credit/credit_partials/applicant_info/military_condition" %>
<%= render partial: "bank_credit/credit_partials/applicant_info/name_info" %>
<%= render partial: "bank_credit/credit_partials/applicant_info/personal_document" %>
<%= render partial: "bank_credit/credit_partials/applicant_info/phones" %>
<%= render partial: "bank_credit/credit_partials/applicant_info/addresses" %>

<br/><br/>
<button type="button" class="ui button orange" onclick="navigate('#step2')">
  Назад
</button>

<button type="button" class="ui button orange" onclick="navigate('#step4')">
  Далее
</button>