<%= render partial: "bank_credit/credit_partials/applicant_info/personal_info", locals: {name: name} %>
<%= render partial: "bank_credit/credit_partials/applicant_info/family_status", locals: {name: name}  %>
<%= render partial: "bank_credit/credit_partials/applicant_info/living_conditions", locals: {name: name}  %>
<%= render partial: "bank_credit/credit_partials/applicant_info/education", locals: {name: name}  %>
<%= render partial: "bank_credit/credit_partials/applicant_info/military_condition", locals: {name: name}  %>
<%= render partial: "bank_credit/credit_partials/applicant_info/name_info", locals: {name: name}  %>
<%= render partial: "bank_credit/credit_partials/applicant_info/personal_document", locals: {name: name}  %>
<%= render partial: "bank_credit/credit_partials/applicant_info/phones", locals: {name: name}  %>
<%= render partial: "bank_credit/credit_partials/applicant_info/addresses", locals: {name: name}  %>

<div id="step-errors-<%= step %>" class="validation_errors invisible">
  <b>Чтобы продолжить операцию, исправьте следующие ошибки:</b>
  <ul id="errors-list-<%= step %>"></ul>
</div>