<h3>*Жилищные условия:</h3>

<div class="ui selection dropdown">
  <%= f.number_field "#{name}_living_conditions", value: @bank_credit_inputs["#{name}_living_conditions"], type: "hidden"%>
  <i class="dropdown icon"></i>
  <div class="default text">Жилищные условия</div>
  <div class="menu">
    <div class="item" data-value="1" onclick="toggleElement('#bank_credit_<%= name %>_another_living_conditions', false)">Собственная дом / квартира</div>
    <div class="item" data-value="2" onclick="toggleElement('#bank_credit_<%= name %>_another_living_conditions', false)">Арендуемая квартира / дом</div>
    <div class="item" data-value="3" onclick="toggleElement('#bank_credit_<%= name %>_another_living_conditions', false)">Совместно с родителями</div>
    <div class="item" data-value="4" onclick="toggleElement('#bank_credit_<%= name %>_another_living_conditions', false)">Совместно с родственниками</div>
    <div class="item" data-value="5" onclick="toggleElement('#bank_credit_<%= name %>_another_living_conditions', false)">Общежитие</div>
    <div class="item" data-value="6" onclick="toggleElement('#bank_credit_<%= name %>_another_living_conditions', false)">Служебное жильё</div>
    <div class="item" data-value="7" onclick="toggleElement('#bank_credit_<%= name %>_another_living_conditions', false)">Воинская часть</div>
    <div class="item" data-value="8" onclick="toggleElement('#bank_credit_<%= name %>_another_living_conditions', true)">Иное(указать)</div>
  </div>
</div>
<div class="field">
  <%= f.text_field "#{name}_another_living_conditions", value: @bank_credit_inputs["#{name}_another_living_conditions"], class: "invisible", placeholder: "Укажите тип жилья"%>
</div>