<h3>*Отношение к воинской службе:</h3>

<div class="ui selection dropdown">
  <%= f.number_field "#{name}_military_conditions", value: @bank_credit_inputs["#{name}_military_conditions"], type: "hidden"%>
  <i class="dropdown icon"></i>
  <div class="default text">Отношение к воинской службе</div>
  <div class="menu">
    <div class="item" data-value="1" onclick="toggleElement('#bank_credit_<%= name %>_reprieve_end_date', false)">Прохожу службу/служил/запас</div>
    <div class="item" data-value="2" onclick="toggleElement('#bank_credit_<%= name %>_reprieve_end_date', false)">Невоеннообязанный</div>
    <div class="item" data-value="3" onclick="toggleElement('#bank_credit_<%= name %>_reprieve_end_date', true)">Отсрочка</div>
    <div class="item" data-value="4" onclick="toggleElement('#bank_credit_<%= name %>_reprieve_end_date', false)">Освобождён</div>
  </div>
</div>
<div class="field">
  <%= f.date_field "#{name}_reprieve_end_date", value: @bank_credit_inputs["#{name}_reprieve_end_date"], class: "invisible", placeholder: "Дата окончания отсрочки от призыва"%>
</div>