<h3>Данные о заявителе</h3>

<div class="three fields">
  <div class="field">
    <label>*Имя</label>
    <input id="<%= name %>-firstname" type="text" placeholder="Имя">
  </div>

  <div class="field">
    <label>*Фамилия</label>
    <input id="<%= name %>-lastname" type="text" placeholder="Фамилия">
  </div>

  <div class="field">
    <label>*Отчество</label>
    <input id="<%= name %>-patronymic" type="text" placeholder="Отчество">
  </div>
</div>

<div class="three fields">
  <div class="field">
    <label>*Число, месяц, год, рождения</label>
    <input id="<%= name %>-birthdate" type="text" placeholder="Число, месяц, год, рождения">
  </div>

  <div class="field">
    <label>*Идентификационный номер</label>
    <input id="<%= name %>-id" type="text" placeholder="Идентификационный номер">
  </div>

  <div class="field">
    <label>*Возраст</label>
    <input id="<%= name %>-age" type="number" min="0" placeholder="Колличество полных лет">
  </div>
</div>

<div class="three fields">
  <div class="field">
    <label>*Гражданство</label>
    <input id="<%= name %>-country" type="text" placeholder="Гражданство">
  </div>

  <div class="field">
    <label>*Место рождения</label>
    <input id="<%= name %>-birthplace" type="text" placeholder="Место рождения">
  </div>
</div>

<div class="field">
  <label>Длительность подтверждаемого проживания на территории РБ (заполняется лицом без гражданства/иностранным гражданином, постоянно проживающим в Республике Беларусь)</label>
  <input id="<%= name %>-rb-age" type="number" min="0" placeholder="Колличество полных лет">
</div>