<h3>Данные о документе, удостоверяющем личность.</h3>

<div class="three fields">
  <div class="field">
    <label>*Наименование документа</label>
    <%= f.text_field "#{name}_document_type", value: @bank_credit_inputs["#{name}_document_type"], placeholder: "Наименование документа"%>
  </div>

  <div class="field">
    <label>*Серия</label>
    <div class="ui selection dropdown">
        <%= f.number_field "#{name}_document_series", value: @bank_credit_inputs["#{name}_document_series"], type: "hidden"%>
        <i class="dropdown icon"></i>
        <div class="default text">Серия</div>
        <div class="menu">
            <% @passport_series.each do |series|%>
                <div class="item" data-value="<%= series.id %>" ><%= series.name %></div>
            <%end%>
        </div>
    </div>
  </div>

  <div class="field">
    <label>*Номер</label>
    <%= f.number_field "#{name}_document_number", value: @bank_credit_inputs["#{name}_document_number"], placeholder: "Номер"%>
  </div>
</div>

<div class="two fields">
  <div class="field">
    <label>*Дата выдачи</label>
    <%= f.date_field "#{name}_document_given_date", value: @bank_credit_inputs["#{name}_document_given_date"], placeholder: "Дата выдачи"%>
  </div>

  <div class="field">
    <label>*Дата окончания</label>
    <%= f.date_field "#{name}_document_end_date", value: @bank_credit_inputs["#{name}_document_end_date"], placeholder: "Дата окончания"%>
  </div>
</div>
