<h3>Данные о заявителе</h3>

<div class="three fields">
  <div class="field">
    <label>*Имя</label>
    <%= f.text_field "#{name}_firstname", value: @bank_credit_inputs["#{name}_firstname"], placeholder: "Имя"%>
  </div>

  <div class="field">
    <label>*Фамилия</label>
    <%= f.text_field "#{name}_lastname", value: @bank_credit_inputs["#{name}_lastname"], placeholder: "Фамилия"%>
  </div>

  <div class="field">
    <label>*Отчество</label>
    <%= f.text_field "#{name}_patronymic", value: @bank_credit_inputs["#{name}_patronymic"], placeholder: "Отчество"%>
  </div>
</div>

<div class="three fields">
  <div class="field">
    <label>*Число, месяц, год, рождения</label>
    <%= f.date_field "#{name}_birthdate", value: @bank_credit_inputs["#{name}_birthdate"], placeholder: "Число, месяц, год, рождения"%>
  </div>

  <div class="field">
    <label>*Идентификационный номер</label>
    <%= f.text_field "#{name}_id", value: @bank_credit_inputs["#{name}_id"], placeholder: "Идентификационный номер"%>
  </div>

  <div class="field">
    <label>*Возраст</label>
    <%= f.number_field "#{name}_age", min: 18, max: 120, value: @bank_credit_inputs["#{name}_age"], placeholder: "Количество полных лет"%>
  </div>
</div>

<div class="three fields">
  <div class="field">
    <label>*Гражданство</label>
    <%= f.text_field "#{name}_country", value: @bank_credit_inputs["#{name}_country"], placeholder: "Гражданство"%>
  </div>

  <div class="field">
    <label>*Место рождения</label>
    <%= f.text_field "#{name}_birthplace", value: @bank_credit_inputs["#{name}_birthplace"], placeholder: "Место рождения"%>
  </div>

  <div class="field">
    <label>*Пол</label>
    <div class="ui selection dropdown">
      <%= f.text_field "#{name}_gender", value: @bank_credit_inputs["#{name}_gender"], type: "hidden"%>
      <i class="dropdown icon"></i>
      <div class="default text">Пол</div>
      <div class="menu">
        <div class="item" data-value="0>" >Мужчина</div>
        <div class="item" data-value="1" >Женщина</div>
      </div>
    </div>
  </div>
</div>

<div class="field">
  <label>Длительность подтверждаемого проживания на территории РБ (заполняется лицом без гражданства/иностранным гражданином, постоянно проживающим в Республике Беларусь)</label>
  <%= f.number_field "#{name}_rb_age", min: 0, value: @bank_credit_inputs["#{name}_rb_age"], placeholder: "Количество полных лет"%>
</div>
