<div class="inline fields">
  <label>*Имеются ли ограничения со стороны других банков на заключение нового кредитного договора</label>
  <%= f.number_field :another_contracts, value: @bank_credit_inputs["another_contracts"], type: "hidden" %>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='another_contracts' value="1">
      <label>Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='another_contracts' value="2">
      <label>Нет</label>
    </div>
  </div>
</div>

<h4>Заявитель</h4>
<div class="inline fields">
  <label>*Имеется ли какое-нибудь судебное решение, которое Вы не выполнили?</label>
  <%= f.number_field :unfinushed_contracts, value: @bank_credit_inputs["unfinushed_contracts"], type: "hidden" %>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' id="unfinushed_contracts_yes" name='unfinushed_contracts'  value="1">
      <label for="unfinushed_contracts_yes">Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' id="unfinushed_contracts_no" name='unfinushed_contracts'  value="2">
      <label for="unfinushed_contracts_no">Нет</label>
    </div>
  </div>
</div>

<div class="inline fields">
  <%= f.number_field :mental_desease, value: @bank_credit_inputs["mental_desease"], type: "hidden" %>
  <label>*Состоите (состояли) ли Вы на учете у психиатра или нарколога?</label>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='mental_desease' value="1">
      <label>Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='mental_desease' value="2">
      <label>Нет</label>
    </div>
  </div>
</div>

<div class="inline fields">
  <%= f.number_field :guilty_contracts, value: @bank_credit_inputs["guilty_contracts"], type: "hidden" %>
  <label>*Участвуете ли Вы в настоящее время в судебном процессе в качестве обвиняемого?</label>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='guilty_contracts' value="1">
      <label>Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='guilty_contracts' value="2">
      <label>Нет</label>
    </div>
  </div>
</div>

<div class="inline fields">
  <%= f.number_field :is_punished, value: @bank_credit_inputs["is_punished"], type: "hidden" %>
  <label>*Были ли Вы когда-либо приговорены судом к какому-либо наказанию?</label>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='is_punished' value="1">
      <label>Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='is_punished' value="2">
      <label>Нет</label>
    </div>
  </div>
</div>

<h4>Супруг</h4>
<div class="inline fields">
  <%= f.number_field :partner_unfinushed_contracts, value: @bank_credit_inputs["partner_unfinushed_contracts"], type: "hidden" %>
  <label>*Имеется ли какое-нибудь судебное решение, которое Вы не выполнили?</label>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='partner_unfinushed_contracts' value="1">
      <label>Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='partner_unfinushed_contracts' value="2">
      <label>Нет</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='partner_unfinushed_contracts' value="3">
      <label>Супруг не существует</label>
    </div>
  </div>
</div>

<div class="inline fields">
  <%= f.number_field :partner_mental_desease, value: @bank_credit_inputs["partner_mental_desease"], type: "hidden" %>
  <label>*Состоите (состояли) ли Вы на учете у психиатра или нарколога?</label>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='partner_mental_desease' value="1">
      <label>Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='partner_mental_desease' value="2">
      <label>Нет</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='partner_mental_desease' value="3">
      <label>Супруг не существует</label>
    </div>
  </div>
</div>

<div class="inline fields">
  <%= f.number_field :partner_guilty_contracts, value: @bank_credit_inputs["partner_guilty_contracts"], type: "hidden" %>
  <label>*Участвуете ли супруг в настоящее время в судебном процессе в качестве обвиняемого?</label>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='partner_guilty_contracts' value="1">
      <label>Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='partner_guilty_contracts' value="2">
      <label>Нет</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='partner_guilty_contracts' value="3">
      <label>Супруг не существует</label>
    </div>
  </div>
</div>

<div class="inline fields">
  <%= f.number_field :partner_is_punished, value: @bank_credit_inputs["partner_is_punished"], type: "hidden" %>
  <label>*Были ли Вы когда-либо приговорены судом к какому-либо наказанию?</label>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='partner_is_punished' value="1">
      <label>Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='partner_is_punished' value="2">
      <label>Нет</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='partner_is_punished' value="3">
      <label>Супруг не существует</label>
    </div>
  </div>
</div>

<div id="step-errors-10" class="validation_errors invisible">
  <b>Чтобы продолжить операцию, исправьте следующие ошибки:</b>
  <ul id="errors-list-10"></ul>
</div>

<br/><br/>
<button type="button" class="ui button orange" onclick="navigate('#step9')">
  Назад
</button>

<button type="button" class="ui button orange" onclick="validateTenthStep()">
  Далее
</button>