<div id="container">
    <div class="container">
      <div class="ui segment">
        <h2 class="ui header dividing" style="text-align: center">Заявка на кредит успешно добавлена</h2>
        <!--<div class="request-info">
          <p>Вся информация о выставлении оценки.</p>
        </div>

        <div id="step1" class="step">
          <p><b>Оценка выставлена на основе:</b></p>
        </div>

        <ul>
          <% @mark_explanations.each do |e| %>
              <li><%= e %></li>
          <% end %>
        </ul>

        <b>Необходимая оценка равна: </b><%=@necessary_mark %><br/>
        <b>Полученная оценка равна: </b><%= @mark %><br/>
        <b>Полученная оценка высчитывалась по формуле: </b><%= @calculating %>
        -->

        <% unless @is_collateral_employed %>
            <% if (@mark >= @necessary_mark) %>
                <h2 style="text-align: center">Выдача кредита одобрена</h2>
            <% else %>
                <h2 style="text-align: center">Выдача кредита не рекомендуется</h2>
            <% end %>
        <% else %>
            <h2 style="text-align: center">Оценка залога полностью покроет долг. <%= @credit_sum %></h2>
        <% end %>
        <h2>В ближайшее время оператор рассмотрит заявку на выдачу кредита и свяжется с клиентом.</h2>
      </div>
    </div>
</div>