<div id="container">
  <div id="content" class="account-settings">
    <div class="ui segment" id="credits">
      <%= form_for :user, url: operator_users_path, html: {class: "ui form error success", id: "user_form"}, method: :post do |f| %>
          <div id="submit-errors" class="validation_errors <%= 'invisible' if flash[:validation_errors] == nil %>">
            <b>Во время отправки данных обнаружились следующие ошибки:</b>
            <ul>
              <% puts params
                 if (flash[:validation_errors] != nil) %>
                  <% flash[:validation_errors].each do |e| %>
                      <li><%= e %></li>
                  <% end %>
              <% end %>
            </ul>
          </div>
          <div class="field">
            <%= f.label :man_name, 'Имя' %>
            <%= f.text_field :man_name, value: @user_inputs['man_name'], placeholder: 'Имя' %><br/>
          </div>
          <div class="field">
            <%= f.label :man_surname, 'Фамилия' %>
            <%= f.text_field :man_surname, value: @user_inputs['man_surname'], placeholder: 'Фамилия' %><br/>
          </div>
          <div class="field">
            <%= f.label :man_patronymic, 'Отчество' %>
            <%= f.text_field :man_patronymic, value: @user_inputs['man_patronymic'], placeholder: 'Отчество' %><br/>
          </div>
          <div class="field">
            <%= f.label :man_mobile_phone, 'Мобильный телефон' %>
            <%= f.text_field :man_mobile_phone, value: @user_inputs['man_mobile_phone'], placeholder: '+375ХХХХХХХХХ' %><br/>
          </div>

          <div class="field">
            <%= f.label :man_email, 'Email' %>

            <%= f.email_field :man_email, value: @user_inputs['man_email'], placeholder: "E-mail"%>
          </div>
          <div class="field">
            <%= f.label :name, 'Имя пользователя' %>
            <%= f.text_field :name, value: @user_inputs['name'], placeholder: 'Имя пользователя' %><br/>
          </div>

          <div class="field">
            <%= f.label :role, 'Роль' %>

            <div class="ui selection dropdown" id="dropdown_granting">
              <%= f.number_field :role_id, value: @user_inputs['role_id'], type: "hidden" %>
              <i class="dropdown icon"></i>

              <div class="default text">Роль</div>
              <div class="menu" id="menu_granting" tabindex="-1">

                <% Role.where("name <> 'client' ").each do |role| %>
                    <div class="item" data-value="<%= role.id %>"><%= role.russian_name %></div>
                <% end %>
              </div>
            </div>
          </div>

          <div id="step-errors" class="validation_errors invisible">
            <b>Чтобы продолжить операцию, исправьте следующие ошибки:</b>
            <ul id="errors_list"></ul>
          </div>
          <%= f.submit type: 'button', class: 'ui button', value: 'Создать пользователя', onclick: "validateUser(); return rude.trigger.init();" %>
      <% end %>
    </div>
  </div>
</div>
