<h3 id = 'credit_sum_label'></h3>
<div class="field">
  <%= f.number_field :credit_sum, value: @bank_credit_inputs["credit_sum"],   placeholder: "Cумма кредита"%>
</div>

<h3>*Срок кредита</h3>
<div class="field">
  <%= f.number_field :credit_term, value: @bank_credit_inputs["credit_term"], min: 0, placeholder: "Месяцев до даты"%>
</div>

<!--<h3>*Срок освоения(предельная дата выдачи) кредита</h3>
<div class="field">
  <%= f.number_field :credit_limit_term, value: @bank_credit_inputs["credit_limit_term"], min: 0, placeholder: "Месяцев до даты"%>
</div>-->

<!--<h3>Совокупный доход (для кредита на финансирование недвижимости или автокредита)</h3>-->
<!--<div class="ui selection dropdown">-->
  <!--<% f.number_field :total_income, value: @bank_credit_inputs["total_income"], type: "hidden"%>-->
  <!--<i class="dropdown icon"></i>-->
  <!--<div class="default text">Совокупный доход (для кредита на финансирование недвижимости или автокредита)</div>-->
  <!--<div class="menu">-->
    <!--<div class="item" data-value="1">Да</div>-->
    <!--<div class="item" data-value="2">Нет</div>-->
  <!--</div>-->
<!--</div>-->

<h3>*Будете ли Вы страховаться от несчастных случаев и болезней</h3>
<div class="ui selection dropdown">
  <%= f.number_field :make_insurance, value: @bank_credit_inputs["make_insurance"], type: "hidden"%>
  <i class="dropdown icon"></i>
  <div class="default text">Будете ли Вы страховаться от несчастных случаев и болезней</div>
  <div class="menu">
    <div class="item" data-value="1">Да</div>
    <div class="item" data-value="2">Нет</div>
  </div>
</div>

<h3>*Способ погашения кредита</h3>
<div class="ui selection dropdown">
  <%= f.number_field :repayment_method, value: @bank_credit_inputs["repayment_method"], type: "hidden"%>
  <i class="dropdown icon"></i>
  <div class="default text">Способ погашения кредита</div>
  <div class="menu">
    <div class="item" data-value="1">Стандартный</div>
    <div class="item" data-value="2">Равными долями</div>
  </div>
</div>

<div id="step-errors-2" class="validation_errors invisible">
  <b>Чтобы продолжить операцию, исправьте следующие ошибки:</b>
  <ul id="errors-list-2"></ul>
</div>

<br/><br/>
<button type="button" class="ui button orange" onclick="navigate('#step1')">
  Назад
</button>

<button type="button" class="ui button orange" onclick="validateSecondCreditStep()">
  Далее
</button>
