<div class="inline fields">
  <label>*Опыт кредитования в ОАО «Rude-bank»</label>
  <div class='field'>
    <%= f.number_field :rude_credits, value: @bank_credit_inputs["rude_credits"], type: "hidden" %>
    <div class='ui checkbox radio'>
      <input id="rude_credit_yes" type='radio' name='rude_credits' value="1">
      <label for="rude_credit_yes">Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' id="rude_credit_no" name='rude_credits' value="2">
      <label for="rude_credit_no">Нет</label>
    </div>
  </div>
</div>

<div class="inline fields">
  <label>*Опыт кредитования в других банках</label>
  <%= f.number_field :another_credits, value: @bank_credit_inputs["another_credits"], type: "hidden" %>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' id="another_credit_yes" name='another_credits' value="1">
      <label for="another_credit_yes">Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' id="another_credit_no" name='another_credits' value="2">
      <label for="another_credit_no">Нет</label>
    </div>
  </div>
</div>

<h3>Количество действующих кредитов</h3>

<div class='field'>
  <%= f.number_field :currentCreditsCount, value: @bank_credit_inputs["another_credits"], placeholder: "Количество действующих кредитов", min: 0 %>
</div>

<h3>Сумма ежемесячных платежей в BYR по всем кредитам и по процентам за пользование ими</h3>

<div class='field'>
  <%= f.number_field :currentCreditsSum, value: @bank_credit_inputs["another_credits"], placeholder: "Сумма ежемесячных платежей по всем кредитам и по процентам за пользование ими", min: 0 %>
</div>

<h3>Имелись  ли   случаи   нарушения   сроков   погашения   кредита   и   процентов</h3>
<div class="inline fields">
  <label>*Кредита</label>
  <%= f.number_field :credit_violation, value: @bank_credit_inputs["credit_violation"], type: "hidden" %>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' id="credit_violation_yes" name='credit_violation' onclick="toggleElement('#credits_penaltyes', true)" value="1">
      <label for="credit_violation_yes">Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' id="credit_violation_no" name='credit_violation' onclick="toggleElement('#credits_penaltyes', false)" value="2">
      <label for="credit_violation_no">Нет</label>
    </div>
  </div>
</div>

<div id="credits_penaltyes" class="invisible">
    <div class="two fields">
      <div class='field'>
        <label>Колличество нарушений</label>
        <input type="number" min="0" placeholder = "Колличество нарушений" />
      </div>

      <div class='field'>
        <label>Длительность(в днях)</label>
        <input type="number" min="0" placeholder = "Длительность(в днях)" />
      </div>
    </div>
    <textarea id="reason" placeholder="Причины"></textarea>
</div>

<div class="inline fields">
  <label>Процентов</label>
  <%= f.number_field :procents_penaltyes, value: @bank_credit_inputs["procents_penaltyes"], type: "hidden" %>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' id="procent_penalty_yes" value="1" onclick="toggleElement('#procents_penaltyes', true)" name='percent_violation'>
      <label for="procent_penalty_yes">Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' id="procent_penalty_no" value="2" onclick="toggleElement('#procents_penaltyes', false)" name='percent_violation'>
      <label for="procent_penalty_no">Нет</label>
    </div>
  </div>
</div>

<div id="procents_penaltyes" class="invisible">
    <div class="two fields">
      <div class='field'>
        <label>Колличество нарушений</label>
        <input type="number" min="0" placeholder = "Колличество нарушений" />
      </div>

      <div class='field'>
        <label>Длительность(в днях)</label>
        <input type="number" min="0" placeholder = "Длительность(в днях)" />
      </div>
    </div>
<textarea id="reason" placeholder="Причины"></textarea>
</div>

<div class="inline fields">
  <label>Выступаете ли поручителем в других банках</label>
  <%= f.number_field :another_banks_credits, value: @bank_credit_inputs["another_banks_credits"], type: "hidden" %>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' id="another_banks_credits_yes" value="1" name='another_banks_credits'>
      <label for="another_banks_credits_yes">Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' id="another_banks_credits_no" value="2" name='another_banks_credits'>
      <label for="another_banks_credits_no">Нет</label>
    </div>
  </div>
</div>

<div class="inline fields">
  <label>Исполняете ли денежные обязательства за должника по договору поручительства</label>
  <%= f.number_field :guarantee, value: @bank_credit_inputs["guarantee"], type: "hidden" %>
  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' name='guarantee' id="guarantee_yes" value="1" onclick="toggleElement('#monthly_debt_sum', true)" >
      <label for="guarantee_yes">Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' id="guarantee_no" name='guarantee' value="2" onclick="toggleElement('#monthly_debt_sum', false)" >
      <label for="guarantee_no">Нет</label>
    </div>
  </div>
</div>

<div class='field invisible' id="monthly_debt_sum">
  <label>Сумма ежемесячного платежа с процентами</label>
  <input type="number" min="0" placeholder = "Сумма ежемесячного платежа с процентами" />
</div>

<div class="inline fields">
  <label>Имеется ли задолженность  по товарам, приобретенным в рассрочку</label>
  <div class='field'>
    <%= f.number_field :installments, value: @bank_credit_inputs["installments"], type: "hidden" %>
    <div class='ui checkbox radio'>
      <input type='radio' name='installments' id="installments_yes" value="1" onclick="toggleElement('#customers_debt_info', true)" >
      <label for="installments_yes">Да</label>
    </div>
  </div>

  <div class='field'>
    <div class='ui checkbox radio'>
      <input type='radio' id="installments_no" name='installments' value="2" onclick="toggleElement('#customers_debt_info', false)" >
      <label for="installments_no">Нет</label>
    </div>
  </div>
</div>

<div class="invisible" id="customers_debt_info">
    <div class="two fields">
      <div class='field'>
        <label>Остаток задолженности</label>
        <input type="number" min="0" placeholder = "Остаток задолженности" />
      </div>

      <div class='field'>
        <label>Сумма ежемесячного платежа</label>
        <input type="number" min="0" placeholder = "Сумма ежемесячного платежа" />
      </div>
    </div>

    <button type="button" onclick="$('#debts').append('<%= escape_javascript(render partial: 'bank_credit/credit_partials/credit_history/debts') %>');rude.semantic.init.dropdown();" class="ui button orange">
      Добавить задолженность
    </button>
    <br/><br/>

    <div id="debts"></div>

    <br/><br/>
</div>

<div id="step-errors-9" class="validation_errors invisible">
  <b>Чтобы продолжить операцию, исправьте следующие ошибки:</b>
  <ul id="errors-list-9"></ul>
</div>

<button type="button" class="ui button orange" onclick="navigate('#step8')">
  Назад
</button>

<button type="button" onclick="validateEleventhStep()" class="ui button orange">
  Отправить данные
</button>
