<%= render partial: "bank_credit/credit_partials/credit_info/credit_type" %>
<%= render partial: "bank_credit/credit_partials/credit_info/granted_procedure" %>
<%= render partial: "bank_credit/credit_partials/credit_info/method_issuance" %>
<%= render partial: "bank_credit/credit_partials/credit_info/affirmation_of_commitments" %>
<%= render partial: "bank_credit/credit_partials/credit_info/collateral_value" %>
<%= render partial: "bank_credit/credit_partials/credit_info/bank_account" %>

<br/><br/>
<button type="button" class="ui button orange" onclick="navigate('#step2')">
  Далее
</button>