<%= render partial: "bank_credit/credit_partials/credit_info/credit_type", locals: {f: f} %>
<%= render partial: "bank_credit/credit_partials/credit_info/granted_procedure", locals: {f: f} %>
<%= render partial: "bank_credit/credit_partials/credit_info/method_issuance", locals: {f: f} %>
<%= render partial: "bank_credit/credit_partials/credit_info/affirmation_of_commitments", locals: {f: f} %>
<%= render partial: "bank_credit/credit_partials/credit_info/collateral_value", locals: {f: f} %>
<%= render partial: "bank_credit/credit_partials/credit_info/bank_account", locals: {f: f} %>

<div id="step-errors-1" class="validation_errors invisible">
  <b>Чтобы продолжить операцию, исправьте следующие ошибки:</b>
  <ul id="errors-list-1"></ul>
</div>

<br/><br/>
<button type="button" class="ui button orange" onclick="validateFirstCreditStep()">
  Далее
</button>
