<div id="container">
  <div id="content" class="account-settings">
    <div class="ui segment" id="cashbox">
      <%= form_for :cashbox, url: operator_cashbox_index_path, html: {class: "ui form error success", id: "cashbox_form"}, method: :post do |f| %>
          <div id="submit-errors" class="validation_errors <%= 'invisible' if flash[:validation_errors] == nil %>">
            <b>Во время отправки данных обнаружились следующие ошибки:</b>
            <ul>
              <% if (flash[:validation_errors] != nil) %>
                  <% flash[:validation_errors].each do |e| %>
                      <li><%= e %></li>
                  <% end %>
              <% end %>
            </ul>
          </div>


          <% puts json: @cashbox_inputs %>
          <div class="field">
            <%= f.label :sum, 'Вносимая сумма' %>
            <%= f.number_field :sum, value: @cashbox_inputs['sum'], placeholder: 'Вносимая сумма' %><br/>
          </div>
          <div class="field">
            <%= f.label :credit_number, 'Номер кредита' %>
            <%= f.number_field :credit_number, value: @cashbox_inputs['credit_number'], placeholder: 'Номер кредита' %><br/>
          </div>

          <div class="field">
            <%= f.label :currency, 'Валюта' %>

            <div class="ui selection dropdown" id="dropdown_granting">
              <%= f.number_field :currency, value: @cashbox_inputs['currency'], type: "hidden" %>
              <i class="dropdown icon"></i>

              <div class="default text">Валюта</div>
              <div class="menu" id="menu_granting" tabindex="-1">

                <% Currency.all.each do |currency| %>
                    <div class="item" data-value="<%= currency.id %>"><%= currency.name %></div>
                <% end %>
              </div>
            </div>
          </div>


          <div id="step-errors" class="validation_errors invisible">
            <b>Чтобы продолжить операцию, исправьте следующие ошибки:</b>
            <ul id="errors_list"></ul>
          </div>
          <%= f.submit type: 'button', class: 'ui button', value: 'Внести сумму', onclick: "validateCash()" %>

      <% end %>
    </div>
  </div>
</div>
