<div id="container">
  <div id="content" class="account-settings">
    <div class="ui segment" id="credit_payments">
      <div id="submit-errors" class="validation_errors <%= 'invisible' if flash[:validation_errors] == nil %>">
        <b>Во время отправки данных обнаружились следующие ошибки:</b>
        <ul>
          <% if (flash[:validation_errors] != nil) %>
              <% flash[:validation_errors].each do |e| %>
                  <li><%= e %></li>
              <% end %>
          <% end %>
        </ul>
      </div>

      <% if @paymens_params.empty? == false %>

          <table class="ui table celled striped">
            <thead>
            <tr>
              <th class="center">Номер платежа</th>
              <th class="center">Основной долг</th>
              <th class="center">Проценты</th>
              <th class="center">Просрочено</th>
              <th class="center">Пеня</th>
              <th class="center">Весь платеж</th>
              <th class="center">Итого к оплате</th>
              <th class="center">До какого числа</th>
              <th class="center">Оплачено</th>
            </tr>
            </thead>
            <tbody>
            <% @paymens_params.each do |payment| %>
                <tr>
                  <td class="center"><%= payment[:number] %></td>
                  <td class="center"><%= payment[:main_payment] %></td>
                  <td class="center"><%= payment[:percent_payment] %></td>
                  <% if payment[:is_payed] %>
                      <td class="center"><i class="icon remove green"></i></td>
                  <% else %>
                      <td class="center"><i class="icon remove red"></i></td>
                  <% end %>
                  <td class="center"><%= payment[:penalty_payment] %></td>
                  <td class="center"><%= payment[:payment] %></td>
                  <td class="center"><%= payment[:bel_payment] %></td>
                  <td class="center"><%= payment[:expire_date] %></td>
                  <% if payment[:is_payed] %>
                      <td class="center"><i class="icon checkmark green"></i></td>
                  <% else %>
                      <td class="center"><i class="icon checkmark red"></i></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% else %>
          <div class="ui success message">
            <p>На данный момент платежей нет.</p>
          </div>

      <% end %>


      <div id="step-errors" class="validation_errors invisible">
        <b>Чтобы продолжить операцию, исправьте следующие ошибки:</b>
        <ul id="errors_list"></ul>
      </div>

    </div>
  </div>
</div>


