<h3>Информация о кредите:</h3>
Дата заявки: <%= @client_credit.begin_date %><br/>
Сумма: <%= @client_credit.sum %><br/> <%= @client_credit.credit_id == 1 ? "BYR" : "USD" %>
Кредитная линия: <%= @client_credit.credit.name %><br/>
Способ выдачи: <%= @client_credit.credit_payment_type.name %><br/>
Срок: <%= @client_credit.term %> месяц(ев)<br/>
Порядок предоставления: <%= @client_credit.credit_granting_type.name %> <br/>
