<div id="container">
  <div id="content">

    <div class="ui segment" id="credits">
      <div class="ui success message">
        <h3>Создан пользователь</h3>
        <label class='user_labels'>Имя: <%= @user.name %></label>
        <label class='user_labels'>Роль: <%= @user.role.name %></label>

        <h3>Создан счет</h3>
        <label class='user_labels'>Номер: <%= @account.IBAN %></label>
        <label class='user_labels'>Тип: <%= @account.account_type %></label>
        <label class='user_labels'>Баланс: <%= @account.balance %></label>
        <label class='user_labels'>Валюта: <%= @account.currency.name %></label>
        <% if @card %>
            <h3>Создана карточка</h3>
            <label class='user_labels'>Номер: <%= @card.number %></label>
            <label class='user_labels'>CVV: <%= @card.cvv %></label>
            <label class='user_labels'>Тип: <%= @card.card_type %></label>
            <label class='user_labels'>Дата истечения: <%= @card.date_expiry %></label>
        <% end %>
      </div>
      <%= link_to 'Распечатать договор', credit_print_info_path(@client_credit.id) %>
    </div>
  </div>
</div>
