<font size="1"></font></p><p align="CENTER"><b><font size="3">КРЕДИТНЫЙ ДОГОВОР</font></b></p>
<p align="right"><font size="2"><%= @credit.begin_date %> г.г. №<%= @credit.id %></font></p>
<p>&nbsp;
  <b><font size="3"></font></b></p><p align="JUSTIFY"><b><font size="2"> Республика Беларусь, 220123 г. Минск, ул. Кропоткина 96-210. ОАО "Rude Bank", </font></b></p>
<p align="CENTER"><i><font size="1">&nbsp;&nbsp;&nbsp;&nbsp; (наименование банка, финансовой компании)</font></i></p>
<p align="JUSTIFY"><b>именуемый&nbsp; в дальнейшем "Кредитодатель", в лице <%= "#{@employee.name} #{@employee.surname} #{@employee.patronymic}, #{@role}"  %></b></p>
<p align="CENTER"><i><font size="1"> (должность, Ф.И.О.)</font></i></p>
<p align="JUSTIFY"><b>действующего на основании Устава и Закона "О банках&nbsp; и&nbsp; банковской деятельности",</b></p>
<p align="JUSTIFY"><b>и физическое лицо, именуемое в дальнейшем "Кредитополучатель", в лице </b><b><%= "#{@client.name} #{@client.surname} #{@client.patronymic}" %>,</b></p>
<p align="CENTER"><i><font size="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (должность, Ф.И.О.)</font></i></p>
<p align="JUSTIFY"><b>действующего на основании&nbsp; </b><b>_____________</b><b><font size="2">___________,</font></b></p>
<p align="CENTER"><i><font size="1">(Устава, Положения, Доверенности, Свидетельства – их №, дата)</font></i></p>
<p align="JUSTIFY"><b>заключили договор о нижеследующем:</b></p>

<p align="JUSTIFY"><b>1. Кредитодатель предоставляет Кредитополучателю &nbsp; <%= @credit_info.id == 2 ? "под страхования риска невозврата кредита " : "без залога" %></b></p>
<p align="CENTER"><i><font size="1">(залог – чего, гарантию, поручительство – кого)</font></i></p>
<p align="JUSTIFY"><b>краткосрочный&nbsp; кредит <b>в сумме <%= "#{@credit.sum} #{@credit_info.id == 1 ? "BYR" : "USD"}" %></b><b><font size="2"></b><b>
  <b>со взиманием процентов за кредит в размере <%= @credit_info.percent %> % годовых.</b></p>
<p align="JUSTIFY"><b>Проценты за кредит перечисляются ежемесячно Кредитодателю.</b></p>
<p align="JUSTIFY"><b>2. Кредитодатель в 3х дневный срок после подписания договора перечисляет оговоренную&nbsp; в&nbsp; п. 1 договора </b><b>сумму кредита на расчетный счет Кредитополучателя&nbsp; <%= "#{@client.id}, УНП 190221536" %></b></p>
<p align="JUSTIFY"><i><font size="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </font></i><i><font size="1">(номер расчетного счета,наименование и код банка) </font></i></p>
<p align="JUSTIFY"><b>3. Кредитополучатель обязуется возвратить кредит в течении <%= @credit_info.max_number_of_months %> месяцев </b></p>
<p align="CENTER"><i><font size="1">(сроки, периодичность возврата кредита)</font></i></p>
<p align="JUSTIFY"><b>Кредитополучатель может погасить полученный кредит досрочно.</b></p>
<p align="JUSTIFY"><b>Кредитодатель вправе потребовать у Кредитополучателя досрочно погасить кредит в случае нарушения </b><b>последним условий договора.</b></p>
<p align="JUSTIFY"><b>4. При несвоевременном возврате Кредитополучателем&nbsp; кредита или процентов по кредиту Кредитодатель&nbsp; </b><b>имеет право без акцепта списать с расчетного счета Кредитополучателя непогашенную сумму кредита.</b></p>
<p align="JUSTIFY"><b>5. По просьбе Кредитодателя&nbsp; Кредитополучатель&nbsp; предоставляет&nbsp; квартальные (годовые) бухгалтерские&nbsp; </b><b>балансы или другую информацию,&nbsp; подтверждающую его финансовое положение.</b></p>
<p align="JUSTIFY"><b>6. Ответственность сторон.</b></p>
<p align="JUSTIFY"><b>6.1. В случае несвоевременного перечисления Кредитодателю&nbsp; задолженности по&nbsp; кредиту и процентов за </b><b>пользование им Кредитополучатель уплачивает Кредитодателю пеню в размере&nbsp; 5%&nbsp; от&nbsp; несвоевременно </b><b>внесенной суммы за каждый день просрочки.</b></p>
<p align="JUSTIFY"><b>6.2. В случае задержки перечисления Кредитодателем&nbsp; (п. 2 договора) оговоренной в п.1 договора суммы </b><b>Кредитодатель&nbsp; уплачивает Кредитополучателю&nbsp; штраф в размере 5% от неоплаченной суммы кредита</b></p>
<p align="JUSTIFY"><i><font size="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (штраф, пеня, их размер)</font></i></p>
<p align="JUSTIFY"><b>При задержке погашения задолженности по кредиту и процентам за него более чем&nbsp; на 30 дней </b><b>Кредитодатель без&nbsp; предварительного&nbsp; предупреждения&nbsp; взыскивает просроченную задолженность </b></p>
<p align="JUSTIFY"><b><font size="2">с кредитополучателя, а в случае отсутствия обращает взыскание на заложенное имущество</font></b></p>
<p align="JUSTIFY"><b>7. Настоящий договор вступает в силу с момента&nbsp; его подписания и&nbsp; действует&nbsp; до полного погашения </b><b>Кредитополучателем кредита и уплаты процентов за него.</b></p>
<p align="JUSTIFY"><b>8. Стороны обязуются хранить тайну сделки.</b></p>
<p align="JUSTIFY"><b>Настоящий договор составлен в 2 экземплярах, каждый имеет одинаковую силу.</b></p>
<p align="JUSTIFY"><b>9. Юридические адреса сторон:</b></p>
<table style="width:100%">
  <tr>
    <td><div>
      <p align="JUSTIFY"><b>Кредитодатель</b></p>
      <p align="JUSTIFY"><i><font size="1"> Наименование:ОАО "Rude Bank" </font></i></p>
      <p align="JUSTIFY"><i><font size="1"> Адрес: г. Минск, ул. Кропоткина 96-210</font></i><i><font size="1">___</font></i></p>
      <p align="JUSTIFY"><i><font size="1"> УНН 190221536 </font></i></p>
      <p align="JUSTIFY"><i><font size="1"> Тел.(факс): +375 (44) 495-63-88</font></i></p>
      <p align="JUSTIFY"><i><font size="1"> Подпись _________</font></i></p>
    </div></td>
    <td align="right"><div>
      <p align="JUSTIFY"><b>Кредитополучатель</b></p>
      <p align="JUSTIFY"><i><font size="1"> ФИО: <%= "#{@client.name} #{@client.surname} #{@client.patronymic}" %></font></i></p>
      <p align="JUSTIFY"><i><font size="1"> Адрес: <%= "#{@client.address_registration}" %></font></i></p>
      <p align="JUSTIFY"><i><font size="1"> Тел.(факс): <%= @client.phone_mobile %></font></i></p>
      <p align="JUSTIFY"><i><font size="1"> Подпись __________</font></i></p></td>
    </div></tr>
</table>

<font size="2"></font></p><p align="JUSTIFY"><b><i><font size="3">Примечание:</font></i></b></p>
<p align="JUSTIFY"><font size="2">Правовое регулирование займа и кредита осуществляется </font><a><font size="2">ст. 760–771 ГК</font></a><font size="2"> Республики Беларусь. </font></p>
<p align="JUSTIFY"><font size="2">Отношения по кредиту помимо ГК регулируются множеством постановлений Правительства, </font><font size="2">Национальным банком, налоговым законодательством.</font></p>
<p align="JUSTIFY"><font size="2">В кредитных отношениях кредитодателем может выступать только банк или иная кредитно-финансовая </font><font size="2">компания, а предметом договора выступают только денежные средства.</font></p>
<p align="JUSTIFY"><font size="2">В договоре займа заимодавцем и заемщиком могут быть любые лица – и физические, и юридические, и </font><font size="2">предметом договора займа могут быть не только деньги, но и другие вещи, определенные родовыми </font><font size="2">признаками, т.к заемщик отдает не ту же вещь, которую брал (та же вещь возвращается в договоре аренды и </font><font size="2">безвозмездного пользования имущества), а такую же сумму денег (сумму займа), равное количество других </font><font size="2">полученных им вещей того же рода и качества.</font></p>
<p align="JUSTIFY"><font size="2">Предметом договора займа могут быть и валютные ценности с особенностями, предусмотренными </font><a><font size="2">ст. </font><font size="2">141, 142 </font></a><font size="2">и </font><a><font size="2">298 ГК</font></a><font size="2">.</font></p>
<p align="JUSTIFY"><font size="2">Договор должен заключаться в письменной форме, если его сумма превышает не менее чем в десять </font><font size="2">раз размер минимальной заработной платы, а в случаях, когда заимодавцем является юридическое лицо, – </font><font size="2">независимо от суммы.</font></p>
<p align="JUSTIFY"><font size="2">Договор займа считается заключенным с момента передачи денег или других вещей.</font></p>