<div class="item">
  <a class="title">
    <i class="dropdown icon"></i>
    Кредиты
  </a>
  <div class="content">
    <div class="ui form">
      <div class="grouped fields">
        <%@credits.each do |credit| %>
            <div class="field">
              <div class="ui radio checkbox">
                <input id="credit_type_<%= credit.id.to_s %>" name="credit_type" onclick="toggleElement('#bank_credit_credit_type_another_card', false)" onchange="get_credit_information(<%=credit.id.to_s%>)" value="<%= credit.id.to_s %> " type="radio">
                <label for="credit_type_<%= credit.id.to_s %>" ><%=credit.name%></label>
              </div>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
